.item {
  /* background-color: aquamarine;
  border-bottom: black;*/
  padding: 2%;
  border-style: inset;

}

.item:hover {
  background-color: aquamarine;
  color: brown;
  font-size: 20px;
}

.button {

  margin-top: 10px;

}

.container {
  display: block;
  border: 1px solid black;
  padding: 5px;
}
