
<div class="container">
  <h1>Coupons List From Stripe</h1>

  <div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <ul>
    <li *ngFor="let coupon of state.coupons" class="item">
      Coupon Id: {{coupon.id}}
      <br>
      Name: {{coupon.name}}
      <br>
      Created: {{coupon.created}}
      <br>
      Duration: {{coupon.duration}}
      <br>
      Duration in months: {{coupon.duration_in_months}}
      <br>
      Percent Off: {{coupon.percent_off}}
      <br>
      Valid: {{coupon.valid}}
      <br>
      <button class="btn btn-primary button " (click)="deleteCoupon(coupon.id)">delete</button>
    </li>
  </ul>
</div>

